<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankForYou</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="right_text"><i>BankForYou</i></div>
        <div class="left_text">
            <div class="mode"><img src="cloud-moon-solid.svg" height="30px" width="30px"></div>
        </div>
    </header>
    
    <div class="navbar">
        <div class="elements">
            <div class="navele"><a href="http://localhost:3000/BankForYou/Home">Home</a></div>
            <div class="navele"><a href="http://localhost:3000/BankForYou/Balance">Balance</a></div>
            <div class="navele"><a href="http://localhost:3000/BankForYou/Accountant">Accountant</a></div>
            <div class="navele"><a href="http://localhost:3000/BankForYou/Transactions">Transactions</a></div>
            <div class="navele"><a href="http://localhost:3000/BankForYou/Complaint">Complaint</a></div>
            <div class="navele"><a href="http://localhost:3000/BankForYou/Manager">Manager</a></div>
        </div>
    </div>
    <div class="body">
        <div class="schemes"><!--  horizantal2-->
            
        </div>
        <div class="home_image"><!--vertical11-->
            <div class="home_image2">
                <div class="home_text">
                    <p class="bg_title">BankForYou</p>
                    <p class="quote">Where You Can Borrow Money Quick And Slow Pay</p>
                </div>
            </div>
            
        </div>
    </div>
        <div class=marq_div_out>
            <marquee scrollamount="15">
                <div class="schemes">
                    <div class="scheme">
                        <img src="s1.jpeg" height="290px" width="500px">
                    </div>
                    <div class="scheme">
                        <img src="s2.jpg" height="290px" width="500px">
                    </div>
                    <div class="scheme">
                        <img src="s3.jpg" height="290px" width="500px">
                    </div>
                    <div class="scheme">
                        <img src="s4.jpg" height="290px" width="500px">
                    </div>
                    <div class="scheme">
                        <img src="s5.jpeg" height="290px" width="500px">
                    </div>
                    <div class="scheme">
                        <img src="s6.webp" height="290px" width="500px">
                    </div>
            </div>
            </marquee>
            
        </div>
        
    
    <footer>
        <div style="text-align: center;background-color: rgb(143, 140, 140);padding: 15px;font-size: 16px;">&copy;Copyright BankForYou (APM Id :Webs_Info_900)<br><br>Contact us at Phone no. <a>+9104010330459</a> and Email <a>okbfy@bfy.co.in</a></div><br>
        <div class="app_icons">
            <img src="linkedin-in-brands-solid.svg" height="40px" width="60px">
            <img src="facebook-f-brands-solid.svg" height="40px" width="60px">
            <img src="youtube-brands-solid (1).svg" height="40px" width="60px">
            <img src="x-twitter-brands-solid.svg" height="40px" width="60px">
            <img src="instagram-brands-solid (2).svg" height="40px" width="60px">
            <img src="pinterest-p-brands-solid.svg" height="40px" width="60px">
            <img src="quora-brands-solid.svg" height="40px" width="60px">
        </div>
    </footer>
    <script src="script.js"></script>
</body>
</html>