*{
    margin:0px;
    padding: 0px;
}
body{
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}
.body{
    display: flex;
    justify-content: center;
}
header{
    background-color: rgb(58, 58, 204);
    color:rgb(240, 240, 245);
    color:white;
    height:70px;
    padding: 4px;
    padding-right:20px ;
    padding-top:3px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.mode{
    top:30px;right:20px;position: absolute;
    color: white;
}
.right_text{
    margin-left: 10px;
    color:white;
    font-size:60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    /* animation: rotate_text 2s linear infinite ; */
}
@keyframes rotate_text {
    0%{transform: rotate(3deg);}
    25%{transform: rotate(0deg);}
    50%{transform: rotate(-3deg);}
    75%{transform: rotate(0deg);}
    100%{transform: rotate(3deg);}
}
.navbar{
    display: flex;
    justify-content: center;
    
} 
.elements{
    /* position:absolute; */
    margin:10px;
    padding: 5px;
    height:auto;
    width:207vh;
    border:1px solid rgb(192, 190, 190);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}
.navele{padding:10px;}
.navele:hover{
    background-color: rgb(168, 168, 233);
    padding:10px;
    border-bottom: 3px solid rgb(10, 6, 248);
    transition:background-color 10000ms ease-in 1000ms;
    transition:border-bottom 100ms ease-in 100ms;
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:black;
}
/* home */

.home_image{
    content: "";
    background-image: url('background_img.jpeg');
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size:cover;
    height:600px;
    width:250vh;
    font-size: 100px;
    z-index:-1;
}
.home_image2{
    display: flex;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    width: 250vh;
    height: 600px;
    animation: co 9s infinite linear;
}
@keyframes co{
    0%{background-color:rgba(255,255,255,0.4); color:black;}
    50%{background-color: rgba(17, 16, 16, 0.4);color:white;}
    100%{background-color: rgba(255,255,255,0.4);color:black;}
}
.vertical_scroll{
    position:absolute;
    right:10px;
    height:50vh;

    padding-top:15px;
    background-color: white;
    width:300px;
     overflow: scroll; 
     border:1px solid black;
}
marquee{
    font-size:15px;
}
.scroll_items{
    padding-left: 1vh;
}
.scroll_item{
    padding:2px;
    padding-bottom:7px;
    border-bottom: 1px solid gray;
    animation:fontforscroll 1000ms linear infinite; 
}
@keyframes fontforscroll {
    0%{color:red;}
    24%{color:blue;}
    25%{color:red;}
    49%{color:blue;}
    50%{color:red;}
    74%{color:blue;}
    75%{color:red;}
    99%{color:blue;}
}

.bg_title{
    margin-top:250px;
    height:100px;
    overflow: hidden;
    animation: typewriter 2s steps(26) 0s;
}
.quote{
    font-size: 30px;
    overflow: hidden;
    height:33px;
    margin:20px ;
    width: 0%;
    animation: typewriter 3s steps(80) 2s infinite;
}
@keyframes typewriter {
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}

@keyframes pop {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Balance */
.bal_head{
    font-size:29px;
    text-align: center;
    background-color: rgb(58, 58, 204);
     color:rgb(12, 12, 12); 
    padding:15px;
    margin:0px;
    padding-top: 25px;
}
.back_btn{
    background-color: transparent;
    color:white;
    position: absolute;
    font-size:20px;
    margin:0px;
    font-weight: 900;
    border:0px;
    left:20px;
    top:5px;
    width:auto;
}
.balance{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:85vh;
    border-bottom:1px solid gray;
}
.hide{
     display: none; 
}
.bal_two{
    width:65%;
    height:100%;
    padding-left:50px ;
    margin-top: 50px;
}
.bal_form{
    display: flex;
    margin-top: 20px;
}
.bal_form p{
    padding-right: 40px;
    margin-top: 0px;
}
input,textarea{
    border:1px solid black;
    border-radius: 4px;
    font-size: 20px;
    height:3.7vh;
    width:30vh;
}
textarea{
    font-size:15px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    height: 15vh;
}
button{
    height:4.3vh;
    width:12vh;
    border:0px;
    border-radius: 8px;
    background-color: rgb(22, 22, 100);
    color:white;
    font-weight:600
}
table{
    font-family: 'Times New Roman', Times, serif;
}

/* Accountant */
.acc_head{
    background-color: rgb(58, 58, 204);
    height:75px;
}
.acc_out_body{
    font-size: 20px;
    display: flex;
    border-bottom:1px solid gray;
    width:100%;
    height:100vh;
}
.acc_options{
    font-size: 15px;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 15px;
    width:12%;
}
.acc_options div ul{
    margin-top:10px;
    margin-bottom: 0px;
    padding-left:30px;
    
}
li{
    padding-bottom:10px;
}
/* .debit form table{
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
.btn{
    padding:3px;
    border-radius: 3px;;
}
.acc_body{
    width:85%;
    display:flex;
    justify-content: center;
}
/* .acc_sub{
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
} */
.acc_sub div{
    padding: 15px;
    text-align: center;
}
.acc_body_head{
    font-size: 30px;
}
.trans_search,.trans_table{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trans_table table tr td{
    padding: 10px;
}
.date{
    margin-left: 85px;
}
.complaint_head{
    background-color: rgb(58, 58, 204);
    color:white;
    text-align: center;
    width:100%;
    font-size: 40px;
    height:60px;
    padding-top: 20px;
}
.complaint_details form table tr td textarea,input{
    width:44vh;
    font-size: 18px;
    padding: 3px;
}
.complaint_details form table tr td{
    padding: 14px;
    font-size: 20px;
    padding-left: 80px;
}
.complaint_details{
    display: flex;
    justify-content: center;
    padding-top: 38px;
}

/*Schemes*/
.schemes{
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    
}
.marq_div_out{
    padding-top: 29px;
    background-color: rgba(0,0,0,0.2);
    padding-bottom: 20px;
}
.app_icons{
    height:60px;
    width:100%;
    background-color: blue;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}